.visual
  .frame
    %img{ src: "img/b/food-1.jpg" }
.visual
  .frame
    %img{ src: "img/b/food-2.jpg" }
.visual
  .frame
    %img{ src: "img/b/food-3.jpg" }
.visual
  .frame
    %img{ src: "img/b/food-4.jpg" }
