.visual
  <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=suite+bar,+auckland&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=46.946584,92.988281&amp;vpsrc=6&amp;ie=UTF8&amp;hq=suite+bar,&amp;hnear=Auckland,+New+Zealand&amp;ll=-36.844773,174.763255&amp;spn=0.011248,0.022702&amp;t=m&amp;z=16&amp;iwloc=&amp;cid=2951812524164573952&amp;output=embed"></iframe>
.visual
  %img{ src: "img/b/contact-1.jpg" }
