#contact.story
  .visual
    .map
  %h2.first Contact Us
  %p
    %strong Address<br />
    2 Hobson St.<br />
    Auckland Central 1010
  %p
    %strong Opening Hours<br />
    Wed 6pm – late<br />
    Thur 6pm – late<br />
    Fri 6pm – late<br />
    Sat 6pm – late
  %p
    %strong Phone<br />
    09 3077030
  %p
    %strong Fax</br >
    09 3077031
  %p Want to make a reservation? Scroll down.

.story
  %h2.first Reservations | Bookings

  %p
    Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
  %form{ action: "#", method: "POST" }
    .input
      %label{ for: :booking_name } Name:
      %input{ type: :text, id: :booking_name }
    .input
      %label{ for: :booking_method } Contact Details:
      %input{ type: :text, id: :booking_name, placeholder: "Phone number or email address" }
    .input
      %label{ for: :booking_guests } Number of guests:
      %input{ type: :text, id: :booking_guests }
    %label{ for: :booking_date } Date:
    %div{ type: :text, id: :booking_date }
    .input
      %label{ for: :booking_comments } Comments:
      %textarea{ id: :booking_comments, rows: 5 }





.story
