#food.story.food
  %h2.first Suite Food
  %table
    %tbody
      %tr
        %td
          %strong Shared Flavours
          %br
          Served with preserves and dips.
        %td
          
      %tr
        %td
          %strong Pâté
          %br
          Fresh homemade pâté, with crisp artisan bread and three condiments.
        %td
          13
      %tr
        %td
          %strong Fried Chorizo &amp; Patatas
          %br
          Fine Chorizo Sausage, served fried with potatoes and garlic aioli.
        %td
          11
      %tr
        %td
          %strong Gourmet Chicken Bites
          %br
          Marinated chicken, onion jam, spicy plum sauce, lettuce &amp; blue cheese. Served on artisan bread
        %td
          13
      %tr
        %td
          %strong Suite Treats
          %br
          Our resident dessert specialist Kenny prepares new and exciting desserts throughout the week. Check with our bar staff for today’s choice.
        %td
          13

