%header#top
  %h1
    %a{ href: "#main-menu" } Suite
  %nav
    %ul
      %li
        %a{ href: "#about" } About
      %li
        %a{ href: "#cocktails" } Cocktails
      %li
        %a{ href: "#wine" } Wine
      %li
        %a{ href: "#beer" } Beer
      %li
        %a{ href: "#spirits" } Spirits
      %li
        %a{ href: "#food" } Food
      %li
        %a{ href: "#people" } People
      %li
        %a{ href: "#contact" } Contact
