#spirits.story.spirit.gin
  %h2 Gin | Jenever | Genièvre
  %p ‘Drunk for a penny, Dead drunk for two pence, Clean straw for nothing!’ - A notice seen all around London in the 1730’s.
  %table
    %thead
      %tr
        %th Modern
    %tbody
      %tr
        %td 209 Gin
        %td USA
      %tr
        %td Beefeater Summer
        %td England
      %tr
        %td Hendricks
        %td Scotland
      %tr
        %td Junipero
        %td USA
      %tr
        %td Lighthouse
        %td New Zealand
      %tr
        %td Martin Miller Arctic
        %td England
      %tr
        %td Martin Miller Westbourne
        %td England
      %tr
        %td Saffron Gin
        %td France
      %tr
        %td South
        %td New Zealand
  %table
    %thead
      %tr
        %th London Dry
    %tbody
      %tr
        %td Beefeater
        %td England
      %tr
        %td Beefeater 24
        %td England
      %tr
        %td Beefeater Crown Jewel
        %td England
      %tr
        %td Blackwoods Vintage Dry Gin
        %td Scotland
      %tr
        %td Geranium Gin
        %td England
      %tr
        %td No3
        %td England
      %tr
        %td Tanqueray
        %td England
      %tr
        %td Tanqueray no.10
        %td England
      %tr
        %td Whitley Neill
        %td England
  %table
    %thead
      %tr
        %th Sloe Gin
    %tbody
      %tr
        %td The Bitter Truth SloeBerry Gin
        %td Germany
      %tr
        %td Gabriel Boudier SloeBerry
        %td France
      %tr
        %td Hayman Sloe Gin
        %td England
  %table
    %thead
      %tr
        %th Genever Gin
    %tbody
      %tr
        %td Bokma Jonge Geneva
        %td Holland
      %tr
        %td Bols Jonge Geneva
        %td Holland
      %tr
        %td Ketel One Granjenever
        %td Holland
      %tr
        %td De Kuyper Square Gin
        %td Holland
  %table
    %thead
      %tr
        %th Old Tom Gin
    %tbody
      %tr
        %td Hayman Old Tom
        %td England
  %table
    %thead
      %tr
        %th Plymouth Gin
    %tbody
      %tr
        %td Plymouth English
        %td England
      %tr
        %td Plymouth Navy Strength
        %td England

  %h3 Gin Flight:
  %p ‘Why Cucumbers Are Better Than Men’
  %p A hilariously named book by Risa Glickman. The cucumber repre- sented by the Gin in the middle of this relationship - Hendricks. This modern Gin flight is showing off some more ‘modern’ styles of Gin where the master distiller will sometimes use unique botanicals (fruit/ herb/spice) to change the structure/flavour of the Gin. We start with London’s tea influenced Beefeater 24, then follow with Hendricks from Scotland, which uses rose and cucumber in its botanical mix, and finish with Geranium also from London that uses the geranium flower to add a unique and alternative flavour.
  %p.tasting-price Beefeater 24 | Hendricks Gin | Geranium Gin


.story.vodka.spirit
  %h2 Vodka | Wódka | Bодка
  %p “Such people came to inhabit a new social layer: the lumpenproletariat, or to use the terminology of the time, the posadskaia golytba (urban poor) - those who were forever half-starved, spiteful, cruel, cynical, unfettered by any of the norms of the people in general, and whose energies could be directed into any channel for the price of a “bucket” of vodka.
  %p A paragraph used to describe drunkards in early 16th Century Russia. ‘A History of Vodka’ - William Pokhlebkin.

  %table
    %thead
      %tr
        %th Wheat
    %tbody
      %tr
        %td 42 Below
        %td New Zealand
      %tr
        %td Ketel One
        %td Holland
      %tr
        %td Russian Standard Imperia
        %td Russia
      %tr
        %td Russian Standard Gold
        %td Russia
      %tr
        %td Russian Standard Platinum
        %td Russia
      %tr
        %td Absolut 100
        %td Sweden
  %table
    %thead
      %tr
        %th Rye
    %tbody
      %tr
        %td Belvedere
        %td Poland
  %table
    %thead
      %tr
        %th Grape
    %tbody
      %tr
        %td Ciroc
        %td France
  %table
    %thead
      %tr
        %th Bisongrass
    %tbody
      %tr
        %td Zubrowka
        %td Poland
  %table
    %thead
      %tr
        %th Flavoured
    %tbody
      %tr
        %td 42 Below Feijoa
        %td New Zealand
      %tr
        %td 42 Below Honey
        %td New Zealand
  %table
    %thead
      %tr
        %th Whey
    %tbody
      %tr
        %td Broken Shed
        %td New Zealand

