.visual
  %img{ src: "img/b/spirits-1.jpg" }
.visual
  %img{ src: "img/b/spirits-2.jpg" }
.visual
  %img{ src: "img/b/spirits-3.jpg" }
.visual
  %img{ src: "img/b/spirits-4.jpg" }
.visual
  %img{ src: "img/b/spirits-5.jpg" }
