.visual
  %img{ src: "img/b/spirits-1.jpg" }
.visual
  %img{ src: "img/b/spirits-2.jpg" }
.visual
  %img{ src: "img/b/spirits-1.jpg" }
.visual
  %img{ src: "img/b/spirits-2.jpg" }
.visual
  %img{ src: "img/b/spirits-1.jpg" }
