.visual
  %img{ src: "img/b/about-1.jpg" }
.visual
  %img{ src: "img/b/about-2.jpg" }
.visual
  %img{ src: "img/b/about-3.jpg" }
.visual
  %img{ src: "img/b/about-4.jpg" }
.visual
  %img{ src: "img/b/about-5.jpg" }
