#cocktails.story.cocktail-1
  %h2 Cocktail | Drink | Libation
  %p This is our list of favourite drinks, it’s what we are currently enjoying. We try to encourage our customers to chat to us about making a drink that suits the moment and is revelant to the time/weather/event whatever! A tall refreshing drink, such as a Collins Style might be a great way to start your evening. Follow this with a stronger, more intense style, a Negroni for instance, as a stellar finish to your night.
  %p So please don’t be shy and ask us to make you a great drink, the strangest requests are often our favourites.
  .cocktail
    %h3 Bijou Cocktail
    %p Tanqueray Gin, Punt e Mes, Green Chartreuse, Orange Bitters
    %p Harry Johnston - Harry Johnston’s Bartenders Manual - 1900.
  .cocktail 
    %h3 From The Arawak To The Zapotec
    %p Appletons 8yr, Cuervo Tradicional, Agave Syrup, Rosso Antigua, Angostura Bitters, Orange Bitters
  .cocktail
    %h3 Tommy’s Margarita
    %p Arette Blanco, Fresh Lime Juice, Agave Syrup, Maldon Smoked Sea Salt
    %P Tommy Bermejo - Tommy’s Mexican Restaurant - San Francisco, CA.
  .cocktail
    %h3 Whistling Dixie
    %p Martell VS, Manzanilla Sherry, Dolin Rouge, Dolin Dry, Orange Bitters, Ardbeg Mist
  .cocktail
    %h3 Handpicked Collins
    %p Beefeater Summer, Fresh Grapefruit Juice, Massenez Ginger & Lime, Celery Bitters
  .cocktail
    %h3 Manhattan Island
    %p Wild Turkey Rye, Punt e Mes, Cruzan Black Strap, Angostura Bitters, Own-Decanter Bitters
  .cocktail
    %h3 Coffee & Chocolate
    %P Chivas Regal 8, Dark Chocolate, Aromatic Bitters, Angostura Bitters, Orange Zest, Coffee Mist
    %p Chris Harrop - Suite Bar (2008) - Auckland, NZ.
  .cocktail
    %h3 Vila Velha
    %p Sagatiba Velha, Fresh Lime Juice, Sugar Syrup
  .cocktail
    %h3 Blue Mountain Fizz
    %p Plymouth Gin, Vitamin Blue, St Germain, Fresh Lime Juice, Sugar Syrup, Egg White
  .cocktail
    %h3 Rum & Benedictine
    %p It’s just Rum with Dom Benedictine added. Served Frappé, Straight or Over Ice.

.story.cocktail-2
  %h2 Science | Experimental | Molecular
  %p Welcome to Suite Bar’s laboratory. We create, play, conjure and develop drinks that are sometimes a bit crazy, but we like it that way. All our homemade concoctions, molecular creations or our competition cocktails live here and this section changes frequent- ly. If you’re not so sure about the sounds of some of these drinks, ask us about the process behind creating them... We might just be able to change your mind.
  .cocktail
    %h3 Horse & Cart
    %p Bas Armagnac Fine, Cruzan Black Strap, Galliano Authentico, Maple Syrup, TBT Old Time Aromatic Bitters, Crunchy Nut Cornflake Infused Milk
    %p I really wanted to put a milk punch on the menu after being in the US and literally drinking it everyday! I also wanted to make good use of the current cereal infusion trend but keep it kind of classic, so i used Arma- gnac instead of Cognac, Rum, sugar and infused milk. Hope you like it. James Goggin
  .cocktail
    %h3 Ginger Apple Fizz
    %P Appleton’s 8, Stones Ginger Wine, Fresh Lime Juice, Egg White, Homemade Lime Sorbet, Re-Carbonated Apple Cider
    %p I got the idea for this drink when I was playing around with sorbet and discovered how it changes the profile of the drink as it melts. So I decided to make my own sorbet and build my flavours around the lime incorporating other fruits. Kenny Ariaens
  .cocktail
    %h3 Oaxacan Julep
    %p Arette Blanco, Del Maguey Chichicapa, Agave Syrup, Bittermens Boston Bittahs, TBT Celery Bitters, Fresh Basil
    %p For this drink I wanted to use the similar vegetal flavours that exist in Mezcal and Basil. I used a julep style of cocktail which controls dilution well and keeps the drink cold which is essential. Enjoy. Margarita Vovna 25
  .cocktail
    %h3 I Got Beetroot On Mai Tai
    %p Appleton’s 8, Homemade Beetroot Syrup, Fresh Lime Juice, Orgeat Syrup, TBT Pimento Dram, Peychaud’s Bitters
    %p I got my idea for this drink during an Appleton tasting with Allen the representative for Appleton’s/The Rum Company. We did food matches with the rum and I wanted to use beetroot because of its earthy/sweet characteristics which provide a clear match with the 8yr Appleton’s. Barney Toy
    %p 2011 Appleton Estate New Zealand Competition Winner

