#wine.story.white-wine.wine
  %h2 The Whites
  %table
    %thead
      %tr
        %th
        %th Sparkling, Prosecco & Champagne
    %tbody
      %tr
        %td NV
        %td Deutz Prestige Cuvee<br />Marlborough, New Zealand
      %tr
        %td NV
        %td Champagne Deutz Brut Classic<br />Epernay, France
      %tr
        %td NV
        %td Bollinger Special Cuvee<br />Champagne, France
      %tr
        %td NV
        %td Billecart-Salmon Rosé<br />Champagne, France
      %tr
        %td 02
        %td Perrier-Jouet Belle Epoque<br />Champagne, France
      %tr
        %td NV
        %td Villa Sandi Prosecco<br />Prosecco, Italy
  %table
    %thead
      %tr
        %th
        %th Dry, Fragrant, Crisp - White
    %tbody
      %tr
        %td 09
        %td Pra Soave<br />Veneto, Italy
      %tr
        %td 05
        %td Kim Crawford ‘Small Parcels’ Bone Dry Riesling<br />Marlborough, New Zealand
      %tr
        %td 09
        %td La Bastide Viognier<br />Languedoc, France
      %tr
        %td 09
        %td I Masoletti Pinot Grigio<br />Trentino, Italy
      %tr
        %td 10
        %td Framingham Sauvignon Blanc<br />Marlborough, New Zealand
  %table
    %thead
      %tr
        %th
        %th Off-Dry & Sweeter - White
    %tbody
      %tr
        %td 09
        %td Rippon Riesling<br />Wanaka, New Zealand
      %tr
        %td 09
        %td Camshorn Classic Riesling<br />Waipara, New Zealand
      %tr
        %td 09
        %td Guigal Côtes du Rhône Blanc<br />Southern Rhône, France
  %table
    %thead
      %tr
        %th
        %th Medium to Full Bodied, Elegant, Textured - White
    %tbody
      %tr
        %td 09
        %td Churton Sauvignon Blanc<br />Marlborough, New Zealand
      %tr
        %td 05
        %td Kim Crawford ‘Small Parcels’ Parkland Gewurztraminer<br />Gisborne, New Zealand
      %tr
        %td 08
        %td Framingham Pinot Gris<br />Marlborough, New Zealand
      %tr
        %td 09
        %td Telmo Rodriguez Gaba do Xil Godello<br />Galicia, Spain
  %table
    %thead
      %tr
        %th
        %th Fuller-Bodied, Pronounced Oak Influence - White
    %tbody
      %tr
        %td 09
        %td Auntsfield Cob Cottage Chardonnay<br />Marlborough, New Zealand
      %tr
        %td 08
        %td Kumeu River Matés Chardonnay<br />Auckland, New Zealand
  %table
    %thead
      %tr
        %th
        %th Rosé
    %tbody
      %tr
        %td 09
        %td Conde De Valdemar Rosado<br />Rioja, Spain
      %tr
        %td 10
        %td Gibbston Valley Rosé<br />Gibbston, New Zealand
.story.red-wine.wine
  %h2 The Reds
  %table
    %thead
      %tr
        %th
        %th Youthful, Light - Red
    %tbody
      %tr
        %td 09
        %td Kumeu River Village Pinot Noir<br />Auckland, New Zealand
      %tr
        %td 09
        %td La Vieille Ferme Côtes du Ventoux<br />Southern Rhône, France
  %table
    %thead
      %tr
        %th
        %th Medium to Full Bodied, Supple - Red
    %tbody
      %tr
        %td 07
        %td Jean-Luc Colombo ‘Les Abeilles’ Côtes du Rhône<br />Southern Rhône, France
      %tr
        %td 08
        %td Churton Pinot Noir<br />Marlborough, New Zealand
      %tr
        %td 06
        %td Antinori Chianti Classico Riserva<br />Tuscany, Italy
      %tr
        %td 09
        %td Escarpment Pinot Noir<br />Martinborough, New Zealand
  %table
    %thead
      %tr
        %th
        %th Fuller-Bodied, Rich & Soft - Red
    %tbody
      %tr
        %td 08
        %td Alluviale Rouge<br />Hawkes Bay, New Zealand
      %tr
        %td 08
        %td Tormaresca Neprica Puglia<br />Puglia, Italy

  %table
    %thead
      %tr
        %th
        %th Full Bodied, Firm, High Extract - Red
    %tbody
      %tr
        %td 07
        %td Wyndham Founders Reserve Shiraz<br />Hunter Valley, Australia
      %tr
        %td 07
        %td St Hugo Cabernet Sauvignon<br />Coonawarra, Australia
      %tr
        %td 07
        %td Tenuta di Biserno ‘Il Pino di Biserno’<br />Tuscany, Italy
  %table
    %thead
      %tr
        %th
        %th Sweet - Dessert
    %tbody
      %tr
        %td 09
        %td Huia Botrytis Riesling (375ml)<br />Marlborough, New Zealand
