#beer.story.beer-1.beer
  %h2 Glorious Beer
  %table
    %thead
      %tr
        %th Lager
    %tbody
      %tr
        %td Brewski
        %td 330ml
        %td Wanaka, New Zealand
      %tr
        %td Export Dry
        %td 330ml
        %td Otahuhu, New Zealand
      %tr
        %td Corona
        %td 330ml
        %td Mexico City, Mexico
      %tr
        %td Hallertau 1 Luxe
        %td 330ml
        %td Auckland, New Zealand
      %tr
        %td Harrington’s Lazy Sunday
        %td 330ml
        %td Christchurch, New Zealand
      %tr
        %td Harrington’s Rogue Hop
        %td 330ml
        %td Christchurch, New Zealand
      %tr
        %td Harrington’s Sobering Thought
        %td 330ml
        %td Christchurch, New Zealand
      %tr
        %td Leffe Radieuse
        %td 330ml
        %td Namur, Belgium
      %tr
        %td Kirin Ichiban
        %td 330ml
        %td Yokohama, Japan
      %tr
        %td Steinlager Pure
        %td 330ml
        %td Auckland, New Zealand
      %tr
        %td Tuatara Ardennes
        %td 330ml
        %td Wellington, New Zealand
      %tr
        %td Quilmes
        %td 330ml
        %td Buenos Aires, Argentina
      %tr
        %td Yeasty Boys Rex Attitude
        %td 330ml
        %td Wellington, New Zealand
      %tr
        %td Croucher Pilsner
        %td 500ml
        %td Rotorua, New Zealand
      %tr
        %td Harrington’s Ngahere Gold
        %td 500ml
        %td Christchurch, New Zealand
      %tr
        %td Three Boys Pilsner
        %td 500ml
        %td Christchurch, New Zealand
      %tr
        %td Sapporo
        %td 634ml
        %td Tokyo, Japan
      %tr
        %td Hallertau Stuntman
        %td 750ml
        %td Auckland, New Zealand
      %tr
        %td Asahi
        %td 1L
        %td Tokyo, Japan
      %tr
        %td Asahi
        %td 2L
        %td Tokyo, Japan
  %table
    %thead
      %tr
        %th Ale
    %tbody
      %tr
        %td Cooper’s Vintage 2010
        %td 330ml
        %td Adelaide, Australia
      %tr
        %td Cooper’s Sparkling Ale
        %td 330ml
        %td Adelaide, Australia
      %tr
        %td Croucher Pale Ale
        %td 330ml
        %td Rotorua, New Zealand
      %tr
        %td Epic Pale Ale
        %td 330ml
        %td Auckland, New Zealand
      %tr
        %td Moa St Five Hop
        %td 375ml
        %td Malborough, New Zealand
      %tr
        %td Moa St Josephs
        %td 375ml
        %td Malborough, New Zealand
      %tr
        %td Munich Bavarian
        %td 330ml
        %td Auckland, New Zealand
      %tr
        %td Mussell Inn ‘Captain Cooker’
        %td 330ml
        %td Nelson, New Zealand
      %tr
        %td Mystery Swappa
        %td 500ml
        %td Wanaka, New Zealand
      %tr
        %td NZ Craft Beer Mash Up
        %td 500ml
        %td New Zealand
      %tr
        %td Founders Generation Ale
        %td 500ml
        %td Nelson, New Zealand
      %tr
        %td Green Man Strong Org
        %td 500ml
        %td Dunedin, New Zealand
      %tr
        %td Harrington’s Big John
        %td 500ml
        %td Christchurch, New Zealand
      %tr
        %td Harrington’s Pig & Whistle
        %td 500ml
        %td Christchurch, New Zealand
      %tr
        %td Three Boy Golden Ale
        %td 500ml
        %td Christchurch, New Zealand
  %table
    %thead
      %tr
        %th Porter
    %tbody
      %tr
        %td Hallertau 4 Deception
        %td 330ml
        %td Auckland, New Zealand
      %tr
        %td Emerson’s London Porter
        %td 500ml
        %td Dunedin, New Zealand
      %tr
        %td Hallertau Porter Noir
        %td 330ml
        %td Auckland, New Zealand
  %table
    %thead
      %tr
        %th Wheat
    %tbody
      %tr
        %td Tuatara Hefe
        %td 330ml
        %td Wellington, New Zealand
      %tr
        %td Emerson’s Seasonal
        %td 500ml
        %td Dunedin, New Zealand
  %table
    %thead
      %tr
        %th Cider
    %tbody
      %tr
        %td Weka Apple Cider
        %td 330ml
        %td Wanaka, New Zealand
      %tr
        %td Bulmer’s Orignal Cider
        %td 500ml
        %td Hereford, England
  %table
    %thead
      %tr
        %th Stout
    %tbody
      %tr
        %td Yeasty Boys Pot Kettle Black
        %td 330ml
        %td Wellington, New Zealand
      %tr
        %td Three Boys Oyster Stout
        %td 500ml
        %td Christchurch, New Zealand
  %table
    %thead
      %tr
        %th IPA
    %tbody
      %tr
        %td Epic Barrel Aged IPA
        %td 500ml
        %td Auckland, New Zealand
      %tr
        %td Epic Hop Zombie
        %td 500ml
        %td Auckland, New Zealand
      %tr
        %td Tuatara APA
        %td 500ml
        %td Wellington, New Zealand
