.visual
  %img{ src: "img/b/wine-1.jpg" }
.visual
  %img{ src: "img/b/wine-2.jpg" }
.visual
  %img{ src: "img/b/wine-1.jpg" }
.visual
  %img{ src: "img/b/beer-1.jpg" }
.visual
  %img{ src: "img/b/wine-2.jpg" }
