@import 'compass/css3/transform';

.black-overlay{
	background-color:#fff;// RGBA(0,0,0,0.9);
	position: relative;
	@include border-radius(10px);
	height: 90px;
	width: 200px;
	border:3px solid #000 !important;
	p{
		width: auto;
		color: #000;
		margin: 5px auto;
		padding:0;
		background: none;
	}
	&:before{
		content: '';
		border-color: RGBA(0,0,0,0.9) transparent transparent transparent;
		border-style: solid;
		border-width: 10px;
		height:0;
		width:0;
		position:absolute;
		top:100%;
		left:50%;
		margin-left: -10px;
	}
}

#contact.story{
	min-height: 150%;
}
#card_container{
	margin:0 0 0 -599px;
	width:529px;
	@include perspective(1200px);
	position: relative;
	height: 400px;
	z-index: 50;
}
#booking_form{
	padding: 10px 17px;
	label{
		color:#333;
		clear:both;
		display: block;
		width: 150px;
		float:left;
		padding: 4px 0 4px 20px;
		margin: 10px 0;
	}
	.input{
		overflow: hidden;
		border: 3px solid #000;
		@include transition(all 0.4s ease-in-out);
		margin: 10px 0 10px 0;
		background-color: #fff;
		@include border-radius(7px);
		@include box-shadow(inset 1px 1px 8px RGBA(0,0,0,0.7));
	}
	input, textarea{
		float: left;
		width: 280px;
		padding: 6px;
		font-family: 'AmericanTypewriterRegular';
		background: transparent;
		margin: 10px 0 0;
		border:none;
	}
	.guests{
		@include transition(all 0.4s ease-in-out);
		height: 50px;
		background: url(/assets/images/people-range.png) 220px 3px no-repeat;
		input{
			margin: 12px 0 10px 35px;
			width: 150px;
		}
		.guests_counter{
			display:block;
			float:left;
			margin: 10px 0 0;
			font-size: 16px;
			color: white;
			@include border-radius(23px);
			background-color: #333;
			padding: 4px;
			width: 30px;
			text-align:center;
		}
		.guests_over{
			clear:both;
			color:#333;
			font-size: 14px;
			padding: 0 10px;
			text-align: right;
		}
	}
	#booking_time_picker li{ cursor: pointer; }
	.large{
		height: 80px;
	}
	.slim{ width: 222px; label{ width: auto; } }
	.error{
		border: 3px solid #970000;
	}
}
