@import 'compass/css3/transform';

.black-overlay{
	background-color:#fff;// RGBA(0,0,0,0.9);
	position: relative;
	@include border-radius(10px);
	height: 90px;
	width: 200px;
	border:3px solid #000 !important;
	p{
		width: auto;
		color: #000;
		margin: 5px auto;
		padding:0;
		background: none;
	}
	&:before{
		content: '';
		border-color: RGBA(0,0,0,0.9) transparent transparent transparent;
		border-style: solid;
		border-width: 10px;
		height:0;
		width:0;
		position:absolute;
		top:100%;
		left:50%;
		margin-left: -10px;
	}
}

#contact.story{
	min-height: 150%;
}
#card_container{
	margin:0 0 0 -599px;
	width:529px;
	@include perspective(1200px);
	position: relative;
	height: 400px;
	z-index: 50;
}
#card_to_call{
	width: 100%;
	height: 100%;
	position: absolute;
	@include transform-style(preserve-3d);
	@include transition(all 0.3s ease);
	> div {
		display: block;
		position: absolute;
		height: 100%;
		width:489px;
		background: RGBA(0,0,0,0.8) ;
		padding:10px 20px;
		@include backface-visibility(hidden);
		color: #fff;
	}

	.front {
	}
	.back {
	  @include transform(rotateY( 180deg ));
	}

	&.flipped {
	  @include transform(rotateY( 180deg ));
	}
		
}
form{
	label{
		color:#333;
		clear:both;
		display: block;
		width: 150px;
		float:left;
		padding: 4px 0 4px 20px;
		margin: 10px 0;
	}
	.input{
		margin: 10px 0 10px 0;
		overflow: hidden;
		background-color: #fff;
		@include border-radius(4px);
		@include box-shadow(inset 1px 1px 8px RGBA(0,0,0,0.7));
	}
	input, textarea{
		float: left;
		width: 280px;
		padding: 6px;
		font-family: 'AmericanTypewriterRegular';
		background: transparent;
		margin: 10px 0;
		border:none;
		
	}
}
