.visuals{
	.visual{
		position:relative;
		img{
			width:100%;
			height:100%;
			position:absolute;
			bottom:40px;
		}
		.frame{
			height:100%;
			position: relative;
		}
	}

}
body.snapped .visual .current img{
	position:fixed;
	top: 0;
}
body .visual .next img{
	top: 0;
	bottom: auto;
}

