#wine.story.white-wine.wine
  %h2.first The Whites
  %table
    %thead
      %tr
        %th
        %th Sparkling, Prosecco & Champagne
    %tbody
      %tr
        %td NV
        %td Deutz Prestige Cuvee<br /><span>Marlborough, New Zealand</span>
      %tr
        %td NV
        %td Champagne Deutz Brut Classic<br /><span>Epernay, France</span>
      %tr
        %td NV
        %td Bollinger Special Cuvee<br /><span>Champagne, France</span>
      %tr
        %td NV
        %td Billecart-Salmon Rosé<br /><span>Champagne, France</span>
      %tr
        %td 02
        %td Perrier-Jouet Belle Epoque<br /><span>Champagne, France</span>
      %tr
        %td NV
        %td Villa Sandi Prosecco<br /><span>Prosecco, Italy</span>
  %table
    %thead
      %tr
        %th
        %th Dry, Fragrant, Crisp - White
    %tbody
      %tr
        %td 09
        %td Pra Soave<br /><span>Veneto, Italy</span>
      %tr
        %td 05
        %td Kim Crawford ‘Small Parcels’ Bone Dry Riesling<br /><span>Marlborough, New Zealand</span>
      %tr
        %td 09
        %td La Bastide Viognier<br /><span>Languedoc, France</span>
      %tr
        %td 09
        %td I Masoletti Pinot Grigio<br /><span>Trentino, Italy</span>
      %tr
        %td 10
        %td Framingham Sauvignon Blanc<br /><span>Marlborough, New Zealand</span>
  %table
    %thead
      %tr
        %th
        %th Off-Dry & Sweeter - White
    %tbody
      %tr
        %td 09
        %td Rippon Riesling<br /><span>Wanaka, New Zealand</span></span>
      %tr
        %td 09
        %td Camshorn Classic Riesling<br /><span>Waipara, New Zealand</span>
      %tr
        %td 09
        %td Guigal Côtes du Rhône Blanc<br /><span>Southern Rhône, France</span>
  %table
    %thead
      %tr
        %th
        %th Medium to Full Bodied, Elegant, Textured - White
    %tbody
      %tr
        %td 09
        %td Churton Sauvignon Blanc<br /><span>Marlborough, New Zealand</span>
      %tr
        %td 05
        %td Kim Crawford ‘Small Parcels’ Parkland Gewurztraminer<br /><span>Gisborne, New Zealand</span>
      %tr
        %td 08
        %td Framingham Pinot Gris<br /><span>Marlborough, New Zealand</span>
      %tr
        %td 09
        %td Telmo Rodriguez Gaba do Xil Godello<br /><span>Galicia, Spain</span>
  %table
    %thead
      %tr
        %th
        %th Fuller-Bodied, Pronounced Oak Influence - White
    %tbody
      %tr
        %td 09
        %td Auntsfield Cob Cottage Chardonnay<br /><span>Marlborough, New Zealand</span>
      %tr
        %td 08
        %td Kumeu River Matés Chardonnay<br /><span>Auckland, New Zealand</span>
  %table
    %thead
      %tr
        %th
        %th Rosé
    %tbody
      %tr
        %td 09
        %td Conde De Valdemar Rosado<br /><span>Rioja, Spain</span>
      %tr
        %td 10
        %td Gibbston Valley Rosé<br /><span>Gibbston, New Zealand</span>
  %p.last
.story.red-wine.wine
  %h2.first The Reds
  %table
    %thead
      %tr
        %th
        %th Youthful, Light - Red
    %tbody
      %tr
        %td 09
        %td Kumeu River Village Pinot Noir<br /><span>Auckland, New Zealand</span>
      %tr
        %td 09
        %td La Vieille Ferme Côtes du Ventoux<br /><span>Southern Rhône, France</span>
  %table
    %thead
      %tr
        %th
        %th Medium to Full Bodied, Supple - Red
    %tbody
      %tr
        %td 07
        %td Jean-Luc Colombo ‘Les Abeilles’ Côtes du Rhône<br /><span>Southern Rhône, France</span>
      %tr
        %td 08
        %td Churton Pinot Noir<br /><span>Marlborough, New Zealand</span>
      %tr
        %td 06
        %td Antinori Chianti Classico Riserva<br /><span>Tuscany, Italy</span>
      %tr
        %td 09
        %td Escarpment Pinot Noir<br /><span>Martinborough, New Zealand</span>
  %table
    %thead
      %tr
        %th
        %th Fuller-Bodied, Rich & Soft - Red
    %tbody
      %tr
        %td 08
        %td Alluviale Rouge<br /><span>Hawkes Bay, New Zealand</span>
      %tr
        %td 08
        %td Tormaresca Neprica Puglia<br /><span>Puglia, Italy</span>

  %table
    %thead
      %tr
        %th
        %th Full Bodied, Firm, High Extract - Red
    %tbody
      %tr
        %td 07
        %td Wyndham Founders Reserve Shiraz<br /><span>Hunter Valley, Australia</span>
      %tr
        %td 07
        %td St Hugo Cabernet Sauvignon<br /><span>Coonawarra, Australia</span>
      %tr
        %td 07
        %td Tenuta di Biserno ‘Il Pino di Biserno’<br /><span>Tuscany, Italy</span>
  %table
    %thead
      %tr
        %th
        %th Sweet - Dessert
    %tbody
      %tr
        %td 09
        %td Huia Botrytis Riesling (375ml)<br /><span>Marlborough, New Zealand</span>
  %p.last
