- require 'csv'
- beers = {}
- CSV.foreach("/Users/mal/Code/github/suite/projects/suitebar/external/content/drinks/beers.csv", :quote_char => '"') do |row|
  - unless row.at 1
    - beers[row.first] = []
  - else
    - beers[beers.keys.last] << row

#beer.story.beer-1.beer
  %h2.first Glorious Beer

  - beers.each do |k,v|
    %table
      %thead
        %tr
          %th= k
      %tbody
        - v.each do |beer|
          %tr
            %td
              =beer.at 0
              %br
              %span=beer.at 2
            %td.size=beer.at 1
            %td.price=beer.at 3

  %p.last
