#awards.story.awards
  %h2.first Bar and Bartender Awards
  %p Suite is the most awarded Cocktail Bar in NZ.

  %h3 Bar Awards – Past and Present

  %table
    %thead
      %tr
        %th 2007
    %tr
      %td Lewisham Award  – ‘Best Winelist’
    %tr
      %td Lewisham Award – ‘Outstanding Hospitality Personality’ [David Hawk]
    %tr
      %td Havana Grand Prix Winner
    %tr
      %td Top 50 Bars in the World – Judges Commendation

  %table
    %thead
      %tr
        %th 2008
    %tr
      %td Lewisham Award – ‘Best Bar’
    %tr
      %td New Zealand Bar Awards – Operator of the Year [David Hawk]
    %tr
      %td New Zealand Bar Awards – Bar Manager of the Year [Dan Walker]
    %tr
      %td Sustainable Business Network – Small/Medium Business – Judges Commendation

  %table
    %thead
      %tr
        %th 2009
    %tr
      %td New Zealand Bar Awards – Operator of the Year [David Hawk
    %tr
      %td New Zealand Bar Awards – Bartender of the Year [Chris Harrop]
    %tr
      %td New Zealand Bar Awards – Best Drinks Selection
    %tr
      %td New Zealand Bar Awards – Best Bar Team

  %table
    %thead
      %tr
        %th 2010
    %tr
      %td Appletons Estate Top 10

  %table
    %thead
      %tr
        %th 2011
    %tr
      %td Hospitality New Zealand – Best Bar

  %table
    %thead
      %tr
        %th 2012
    %tr
      %td Lewisham Awards Finalist – Best Bar
    %tr
      %td Lewisham Awards Finalist – Bartender of the Year [James Goggin]
    %tr
      %td Lewisham Awards Finalist – Hospitality Personality of the Year [David Hawk]

  %h3 Bartender Awards

  %p Suite’s Bartenders have finalled, or won, in every Major National Bartending competition this year. On most occasions, no other bar had more than one finalist in each of the competitions below.

  %table
    %thead
      %tr
        %th James Goggin
    %tr
      %td Havana Grand Prix 2012 Global Wildcard - Top 10
    %tr
      %td Tales of the Cocktail 2011 - Cocktail Apprentice
    %tr
      %td Rematch Beyatch Sydney 2010 - 3rd
    %tr
      %td Rematch Beyatch Sydney 2011 - 4th
    %tr
      %td Bols Around the World 2012 - NZ Top 16
    %tr
      %td Domaine de Canton Bartender of the Year 2012 - Top 10
    %tr
      %td Bols Perfect Complement 2011 - 2nd
    %tr
      %td NZ Suntory Cup 2011 - Runner Up
    %tr
      %td Expression Sessions 2011 - 2nd
    %tr
      %td Havana Annual Hemingway Competition 2011 - Winner
    %tr
      %td 2012 Angostura Rum Competition NZ - Top 10
    %tr
      %td Monin Bartender of the Year 2011 - Top 10
    %tr
      %td Lewisham Awards Outstanding Bartender Nomination 2012

  %table
    %thead
      %tr
        %th Barney Toy
    %tr
      %td Winner – National Appletons Estate Rum Cocktail Competition 2011
    %tr
      %td Bols Regional Top 6 2011
    %tr
      %td Suntory Regional Top 10 2011
    %tr
      %td Expression Sessions 2011 – 3rd
    %tr
      %td Domaine de Canton Top 10 – 2011 (absent for final – as was in Jamaica for Appletons prize)
    %tr
      %td Bols ‘Around the World’ Top 10

  %table
    %thead
      %tr
        %th Kenny Ariaens
    %tr
      %td Monin Bartender of the Year 2011 - Top 12
    %tr
      %td Rematch Beyatch NZ 2011 - Winner
    %tr
      %td Bols Perfect Complement 2011 - Top 10
    %tr
      %td Bols Around the World 2012 - NZ Top 16
    %tr
      %td Havana Annual Hemingway Competition 2011 - Winner

  %table
    %thead
      %tr
        %th Rita Vovna
    %tr
      %td Monin Bartender of the Year 2011 - Top 12
    %tr
      %td Bols Perfect Complement 2011 - Top 10
    %tr
      %td NZ Suntory Cup 2011 - Top 10

  %table
    %thead
      %tr
        %th Kyle Levenberg
    %tr
      %td Nekta Great Kiwi Cocktails – Top 5
    %tr
      %td Monin Bar Masters – Top 20
    %tr
      %td Expression Session 2011 - 1st

  %p &nbsp;

