#food.story.food
  %h2.first Suite Food
  %table
    %tbody
      %tr
        %td
          %strong Pizza
          %br
          Classic Italian style thin based pizza with delectable toppings. These make a great meal for one or a tasty snack to share.
          %br
          Your choice of:
          %br
          • Rosso – with tomato sauce
          %br
          • Bianco – plain white base with olive oil
        %td
      %tr
        %td
          Margherita
          %br
          %em Fresh tomato, Mozzarella and fresh basil.
        %td 11
      %tr
        %td
          Roast Vegetable
          %br
          %em The perfect vegetarian snack, seasonal roast vegetables, topped with Mozzarella and Béarnaise sauce
        %td 14
      %tr
        %td
          Roast Chicken
          %br
          %em Sage and onion roast chicken, fresh zucchini and pepperdew finished with a spicy plum sauce.
        %td 16
      %tr
        %td
          Prosciutto
          %br
          %em Fresh sliced cured ham, caramelised onion and mushroom.
        %td 16
      %tr
        %td
          Salami
          %br
          %em Mild salami, capsicum and olives, topped with mozzarella.
        %td 16
  %table
    %tbody
      %tr
        %td
          %strong Cheese Selection
      %tr
        %td
          %em One cheese, bread and condiments
        %td
          11
      %tr
        %td
          %em Two cheeses, bread and condiments
        %td
          19
      %tr
        %td
          %em Three cheese, bread and condiments
        %td
          26
  %table
    %tbody
      %tr
        %td
          %strong Fried Chorizo &amp; Patatas
          %br
          %em Fine Chorizo Sausage, served fried with potatoes and garlic aioli.
        %td
          11
