%header#top
  %nav
    %h1
      %a.home{ href: "#main-menu" } Suite
      %p Tue – Fri<br />4pm -  5am
      %p Sat<br />8pm - 5am
      %p
        %a{ href: "#contact" } Location
        %a{ href: "#", rel: :reservations } Reservations
    .scapegoat
    %ul
      %li
        %a{ href: "#about" } About
      %li
        %a{ href: "#contact" } Contact
      %li
        %a{ href: "#cocktails" } Cocktails
      %li
        %a{ href: "#wine" } Wine
      %li
        %a{ href: "#beer" } Beer
      %li
        %a{ href: "#spirits" } Spirits
      %li
        %a{ href: "#food" } Food
      %li
        %a{ href: "#people" } People
